.permanentSub {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.permanentTitle {
    text-align: left;
    margin: 20px 0;
    font-size: 40px;
    font-weight: 400;
    color: rgb(80, 80, 80)

}

.permanentItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.headerItem {
    color: rgb(243, 240, 240);
    background-color: #3c435e;
}

.bodyItem {

}

.bodyItem:nth-child(even) {
    background-color: rgb(250, 244, 244);
}