.subsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subsTitle {
    margin: 20px 0px;
}

table {
    width: 1100px;
}

thead {
    background-color: rgb(71, 71, 114);
    color: white;
}

tr {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
tr:nth-child(2n) {
    background-color: #f7f3f3;
}

td {
    padding: 20px;
    flex: 1;
}
.subsActions {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    padding-right: 80px;
}

.subIcon {
    width: 25px;
    height: 25px;
}

.price {
display: flex;
align-items: center;
justify-content: center;
padding-right: 40px;
}

.actionsInput {
    width: 80px;
    outline: none;
    border-radius: 5px;
    height: 30px;
}
.addButton {
    padding: 5px;
    background-color: rgb(195, 171, 218);
    border-radius: 5px;
    min-width: 80px;
    outline: none;
}

.warning {
    background-color: rgb(224, 140, 15);
}

.danger {
    background-color: rgb(248, 36, 8);
}

@media screen and (max-width: 1080px) {
    table {
        /* display: none; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 60px;
    }
    tr {
        justify-content: center;
    }
    td {
        padding: 0;
        margin: 0;
        /* width: 200px; */
    }
}

@media screen and (max-width:700px) {
    .subsContainer {
        overflow: hidden;
    }
    table {
        /* margin-right: 30px; */
    }
}

@media screen and (max-width: 520px) {
    tbody {
        margin: 0;
        padding: 0;
    }
    .subsTitle {
        margin: 0px;
        padding: 0;
        font-size: 22px;
    }
    
    tr {
        width: 400px;
        margin: 0px;
        padding: 0;
        justify-content: space-between;
        display: fle;
    }
    td {
        flex: 1;
        margin: 0;
        padding: 0;
        /* width: 100px; */
    }
    .cost {
        /* margin-right: 90px; */
    }
    .emptyDiv {
        /* display: none; */
    }
    .subsActions {
        margin: 0;
        padding: 0;
    }
    .actionsInput {
        display: none;
    }
    .warning {
        display: none;
    }
    .addButton {
        width: 10px;
        margin: 0;
        padding: 0;
        max-width: 10px;
    }
}