.manageContainer {
    display: flex;
    height: calc(100vh - 80px);
    flex-direction: column;
    margin: 0 200px;
    overflow: hidden;
}

.manageTop {
    width: 100%;
    display: flex;
    margin-top: 30px;
    gap: 5px;
}

.manageTitle {
    color: rgb(80, 80, 80);
    margin-right: 5px;
    font-size: 50px;
    font-weight: 500;
}

.manageButton {
    background-color: rgb(236, 230, 230);
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .manageContainer {
        margin: 0 100px;
    }
    .manageTitle {
        font-size: 40px;
    }
}

@media screen and (max-width: 987px) {
    .manageContainer {
        margin: 0 50px 100px 50px;
        height: auto;
        /* overflow: scroll; */
    }
    .manageTitle {
        font-size: 30px;
    }
}

@media screen and (max-width: 540px) {
    .manageContainer {
        margin: 0 20px 100px 20px;
    }
    .manageTitle {
        font-size: 25px;
    }
    .manageButton {
        padding: 5px;
        font-weight: 400;
        height: 40px;
    }

}

@media screen and (max-width: 420px) {

    .manageTitle {
        display: none;
    }

}
