.support-item-Container {
    /* border: 1px solid #edeef5; */
    border-radius: 10px;
}
.support-item-header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px 10px;
    background-color: #3c435e;
    color: white;
}

.s-header-item {
    flex: 1;
}

.s-header-action {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 80px;
}

.support-item-body {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #edeef5;
}

.support-item-body:nth-child(2n) {
    background-color: #e5e8f7;
}

.s-body-item {
    flex: 1;
    padding: 10px 0;
    /* height: 50px; */
}

.s-body-action {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.s-body-button {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: #3c435e;
    color: white;
}