.checkoutContainer {
}

.checkout-item-container {
    height: calc(100vh - 80px);
    padding: 0 100px;
    margin-bottom: 100px;
}

.checkItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.checkItems {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.checkoutTitle {
    font-size: 50px;
    font-weight: 600;
    padding: 20px 0;
}

.heading {
    padding: 20px 30px;
    background-color: #3d4c88;
    color: white;
}

.boding {
    padding: 20px;
    
}

.boding:nth-child(even) {
    background-color: rgb(238, 232, 232);
}

.bodyItems {
    margin-right: 70px;
}
.checkTotal {
    padding: 30px;
    color: white;
    font-size: large;
    background-color: #1C233F;
}
.checkBuyButton {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: #1C233F;
    color: white;
    margin-top: 20px;
}

.subIcon {
    width: 25px;
    height: 25px;
}

.checkButtons {
    display: flex;
    gap: 5px;
}

@media  (max-width: 992px) {
    .checkout-item-container {
        padding: 0 50px;
    }
    
    .checkoutTitle {
        font-size: 40px;
    }
}

@media (max-width: 768px){
    .checkoutTitle {
        font-size: 22px;
    }
}

@media (max-width: 576px) {
   .checkoutContainer {
    padding: 20px;
   }

   .checkout-item-container {
    padding: 0 20px;
}
   .checkoutTitle {
    font-size: 25px;
   }
   .boding {
    padding: 10px;
   }
   .bodyItems {
    margin-right: 5px;
    flex: 1;
   }

   .heading {
    padding: 10px;
   }

   .heading-item {
        flex: 1;
   }

   .checkBuyButton {
        padding: 10px;
   }

}
@media (max-width: 300px) {
   .checkoutContainer {
    padding: 10px;
   }
   .boding {
    padding: 10px;
    font-size: 14px;
   }
   .body-item-left {
    padding-left: 5px;
   }
   .bodyItems {
    margin-right: 5px;
    flex: 1;
   }

   .heading {
    padding: 10px;
    font-size: 14px;
   }

}