.supportContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 80px);
    padding: 0 200px;
    overflow: hidden;
}

.support-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.ticket {
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: #3c435e;
    color: white;
}

.supportTop {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    border-bottom: 2px solid #edeef5;
}

.topButton {
    padding: 10px;
    font-size: 18px;
}

.supportheader {
    margin: 20px 0;
    font-size: 30px;
    font-weight: 500;
}

@media screen and (max-width: 1200px){
    .supportContainer {
        padding: 0 100px;
    }
}

@media screen and (max-width: 610px){
    .supportContainer {
        padding: 0 50px;
    }
}

@media screen and (max-width: 520px){
    .supportContainer {
        padding: 0 30px;
    }
}

@media screen and (max-width: 480px){
    .supportContainer {
        padding: 0 20px;
    }

    .ticket {
        font-size: 14px;
        padding: 5px;
    }

    .supportheader {
        font-size: 22px;
    }
}