.cryptoContainer {
    /* border: 1px solid #edeef5; */
    border-radius: 10px;
}
.cryptoheader {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px 10px;
    background-color: #3c435e;
    color: white;
}

.c-header-item {
    flex: 1;
}

.cryptobody {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #edeef5;
}
.cryptobody:nth-child(2n) {
    background-color: #e5e8f7;
}
.c-body-item {
    flex: 1;
    padding: 10px 0;
    height: 50px;
}

.c-body-button {
    padding: 5px 40px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: #3c435e;
    color: white;
}

@media screen and (max-width: 720px) {

    .cryptoheader {
        width: 600px;
    }

    .cryptobody {
        width: 600px;
    }

    .c-body-button {
        padding: 5px 15px;
    }
}

@media screen and (max-width: 576px) {
    .cryptoContainer {
        overflow: scroll;
    }  

    .cryptoheader {
        width: 600px;
    }

    .cryptobody {
        width: 600px;
    }

    /* .c-body-item {
        width: 100px;
    } */
    
    .c-body-button {
        padding: 5px 15px;
    }
}