
  /* #723EEB */
.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-top {
  background-color: #27115C;
  width:  100%;
  height: 80px;
  margin-top: 10px;
}

.copyright-area {
  background-color: #723EEB;
  padding: 20px;
}

.copyright-text p {
  color: white;
}