
  /* #723EEB */
.footer-section-area {
  display: flex;
  flex-direction: column;
  /* height: 120px; */
}

.footer-top-area {
  background-color: #27115C;
  width:  100%;
  height: 100px;
  padding-top: 20px;
}

.copyright-area {
  background-color: #723EEB;
  padding: 20px;
  text-align: center;
}

.copyright-text p {
  color: white;
}