.balanceContainer {
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 80px;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

.title {
    position: absolute;
    top: 20px;
    left: 400px;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: flex-end; */
}

.leftItem {
    padding: 10px;
    background-color:white;
    min-width: 400px;
    margin: 5px 0;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
}

.labelContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radioLabel {
    font-size: 16px;
    color: black;
}

.img {
    max-width: 100px;
    height: 40px;
}

.right {
    flex: 1;
    /* color: gray; */
}

.rightItems {
    background-color: white;
    height: 420px;
    width: 500px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
}

.rightItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.input {
    border: 1px solid lightgray;
    height: 50px;
    width: 200px;
    padding: 10px 0 0 5px;
    border-radius: 3px;
    outline: none;
}

.button {
    background-color: #1C233F;
    padding: 10px;
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
    width: 100%;
    margin-top: 5px;
}

.lists {
    font-size: 15px;
    padding-top: 20px;
}

@media screen and (max-width: 1400px) {
    .balanceContainer {
        padding-right: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .balanceContainer {
        padding-right: 200px;
    }

    .leftItem {
        min-width: 250px;
    }

    .title {
        left: 300px;
    }

}

@media screen and (max-width: 980px) {
    .balanceContainer {
        padding-right: 100px;
    }

    .title {
        left: 200px;
    }

    .leftItem {
        min-width: 250px;
    }

    .rightItems {
        width: 350px;
    }

    .input {
        width: 100px;
    }

}

@media screen and (max-width: 720px) {
    .balanceContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 30px;
        padding-bottom: 50px;
        height: auto;
    }

    .title {
        left: 100px;
    }

    .rightItems {
        height: inherit
    }

    .lists {
        font-size: 14px;
        padding-top: 10px;
    }

}

@media screen and (max-width: 520px) {
    .title {
        left: 50px;
    }

}


@media screen and (max-width: 450px) {
    .title {
        font-size: 22px;
    }

    .title {
        left: 20px;
    }

    .rightItems {
        width: 280px;
    }
    .input {
        width: 230px;
    }

}
