.messageContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: calc(100vh - 80px);;
    padding: 0 200px;
    gap: 40px;
  }

  .messageTitle {
    margin-top: 20px;
  }

  .thead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3c435e;
    color: white;
  }

  .thead-item {
    padding: 20px;
  }

  .text {
    width: 500px;
  }

.messageItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messageItem {
  padding: 20px;  
}
  
  .button {
    margin-top: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #0265FF;
    color: white;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 480px) {
  
    .form {
      width: 100%;
    }
  
    .inputS:first-child {
      margin: 0;
    }
  }
  