.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
    gap: 40px;
  }

  .messageTitle {
    margin-top: 20px;
  }

  .text {
    width: 400px;
  }
  
  .button {
    margin-top: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #0265FF;
    color: white;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 480px) {
  
    .form {
      width: 100%;
    }
  
    .inputS:first-child {
      margin: 0;
    }
  }
  