.messageContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: calc(100vh - 80px);;
    padding: 0 200px;
    gap: 40px;
  }

  .messageTitle {
    margin-top: 20px;
  }

  .t-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3c435e;
    color: white;

  }

  .t-head-item {
    flex: 1;
    padding: 20px;
  }

  .message-body {
    flex: 5;
  }


.messageItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messageItem {
  flex: 1;
  padding: 20px;  
}
  
  .button {
    margin-top: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #0265FF;
    color: white;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1300px) {
  
    .messageContainer {
      padding: 0 100px;
    }
  }
  
  @media screen and (max-width: 900px) {
  
    .messageContainer {
      padding: 0 50px;
    }
  }
  
  @media screen and (max-width: 768px) {
   
    .messageContainer {
      height: auto;
      padding: 0;
      overflow: scroll;
    }

    /* .t-container {
      overflow: scroll;
    } */
/*
    .t-head {
      flex: 1;
      flex-flow: column wrap-reverse;
      justify-content: left;
      align-items: left;
      background-color: white;
      color: black;
    }

    .t-head-item {
      width: 100px;
      margin-bottom: 20px;
    }

    .tbody {
      flex: 2;
    }

    .messageItems {
      flex: 2;
      flex-flow: column wrap-reverse;
    }

    .messageItem {
      width: 100px;
      margin-bottom: 20px;
    }

    .message-body {
      flex: 5;
    } */
  }
  
  @media screen and (max-width: 480px) {
  
    .form {
      width: 100%;
    }
  
    .inputS:first-child {
      margin: 0;
    }
  }
  